<div layout-margin>
  <div layout="row">
    <div ng-repeat="i in [] | range:$ctrl.emptySlot()">
      <md-menu width="15">
        <md-button class="md-icon-button" aria-label="slot+i" ng-click="$mdOpenMenu()">
          <img ng-src="img/SISs/empty_slot.png" width="30dp" />
        </md-button>
        <md-menu-content>
          <md-menu-item ng-repeat="SIS in $ctrl.availableSIS()">
            <md-button layout-align="center center">
              <img ng-src="img/SISs/{{SIS.imageName}}.png" width="20dp" /> {{SIS.name}}
            </md-button>
          </md-menu-item>
          <md-menu-content>
      </md-menu>
    </div>
  </div>
</div>
