<md-content layout-fill>
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <span class='md-title'>曲情報</span>
      </md-card-header-text>
    </md-card-header>

    <md-card-content>
      <md-input-container>
        <label>グループ</label>
        <md-select ng-model="$ctrl.music.group">
          <md-option ng-value="'μ\'s'">μ's</md-option>
          <md-option ng-value="'Aqours'">Aqours</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>属性</label>
        <md-select ng-model="$ctrl.music.type">
          <md-option ng-value="'smile'">スマイル</md-option>
          <md-option ng-value="'pure'">ピュア</md-option>
          <md-option ng-value="'cool'">クール</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>フレCS</label>
        <md-select ng-model="$ctrl.bonus.LS_pre">
          <md-option ng-value="'smile'">スマイル</md-option>
          <md-option ng-value="'pure'">ピュア</md-option>
          <md-option ng-value="'cool'">クール</md-option>
          <md-option ng-value="null">なし</md-option>
        </md-select>
      </md-input-container>
      <md-input-container ng-show="$ctrl.bonus.LS_pre !== null">
        <label>フレCS (続き)</label>
        <md-select ng-model="$ctrl.bonus.LS_suf">
          <md-option ng-value="'smile'">プリンセス</md-option>
          <md-option ng-value="'pure'">エンジェル</md-option>
          <md-option ng-value="'cool'">エンプレス</md-option>
        </md-select>
      </md-input-container>
      <md-input-container ng-show="$ctrl.bonus.LS_pre !== null">
        <label>フレCS (サブ)</label>
        <md-select ng-model="$ctrl.bonus.LS_sub">
          <md-option ng-value="null">なし</md-option>
          <md-option ng-value="'μ\'s'">μ's</md-option>
          <md-option ng-value="'Aqours'">Aqours</md-option>
          <md-option ng-value="'first-year'">1年生</md-option>
          <md-option ng-value="'second-year'">2年生</md-option>
          <md-option ng-value="'third-year'">3年生</md-option>
          <md-option ng-value="'Printemps'">Printemps</md-option>
          <md-option ng-value="'lily white'">lily white</md-option>
          <md-option ng-value="'BiBi'">BiBi</md-option>
          <md-option ng-value="'CYaRon！'">CYaRon！</md-option>
          <md-option ng-value="'AZALEA'">AZALEA</md-option>
          <md-option ng-value="'Guilty Kiss'">Guilty Kiss</md-option>
        </md-select>
      </md-input-container>
      <form name="musicForm">
        <md-input-container>
          <label>ノーツ数</label>
          <input required name='notesInput' type='number' step=1 ng-model='$ctrl.music.notes' ng-min="1" ng-max="2000">
          <div ng-messages="musicForm.notesInput.$error">
            <div ng-message="required">ノーツ数を入力してください</div>
            <div ng-message="min">ノーツ数が少なすぎます</div>
            <div ng-message="max">ノーツ数が多すぎます</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>時間</label>
          <input required name='timeInput' type='number' step=1 ng-model='$ctrl.music.time' ng-min="1" ng-max="500">
          <div ng-messages="musicForm.timeInput.$error">
            <div ng-message="required">時間を入力してください</div>
            <div ng-message="min">時間が短すぎます</div>
            <div ng-message="max">時間が長すぎます</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>パーフェクト率</label>
          <input required name='perfectInput' type='number' step=1 ng-model='$ctrl.music.perfect' ng-min="0" ng-max="100">
          <div ng-messages="musicForm.perfectInput.$error">
            <div ng-message="required">パーフェクト率を入力してください</div>
            <div ng-message="min">パーフェクト率が小さすぎます</div>
            <div ng-message="max">パーフェクト率が大きすぎます</div>
          </div>
        </md-input-container>
      </form>
      <form name="bonusForm">
        <md-input-container>
          <label>タップスコアアレンジ</label>
          <input required name='tapBonusInput' type='number' step=0.01 ng-model='$ctrl.bonus.arbitrary_tap' ng-min="1.0" ng-max="1.5">
          <div ng-messages="bonusForm.tapBonusInput.$error">
            <div ng-message="required">タップスコア倍率を入力してください</div>
            <div ng-message="min">タップスコア倍率が小さすぎます</div>
            <div ng-message="max">タップスコア倍率が大きすぎます</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>特技発動率アレンジ</label>
          <input required name='skillBonusInput' type='number' step=0.01 ng-model='$ctrl.bonus.arbitrary_skill' ng-min="1.0" ng-max="1.5">
          <div ng-messages="form.skillBonusInput.$error">
            <div ng-message="required">特技発動率倍率を入力してください</div>
            <div ng-message="min">特技発動率倍率が小さすぎます</div>
            <div ng-message="max">特技発動率倍率が大きすぎます</div>
          </div>
        </md-input-container>
      </form>
    </md-card-content>
  </md-card>

  <p>ユニットステータス: {{$ctrl.status}}</p>
  <p>平均スコア: {{$ctrl.average}}</p>
  <p>スコア分散: {{$ctrl.variance}}</p>

  <canvas id="line" class="chart chart-line" chart-data="plot_data" chart-labels="plot_labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas>
</md-content>
