<md-dialog flex layout-margin>
  <md-dialog-content>
    <div layout="row" layout-margin>
      <div layout="column">
        <div flex>{{selected_card.chara_name}}</div>
        <div flex>{{selected_card.chara_title}}</div>
      </div>
      <span>
      <img ng-src="img/faces/{{selected_card.id}}.png" width="50dp" height="50dp" />
      </span>
      <span>
      <img ng-src="img/faces/{{selected_card.id}}_t.png" width="50dp" height="50dp" />
      </span>
    </div>

    <div layout="column">
      <form name="levelForm">
        <md-input-container>
          <label>レベル</label>
          <input required name="levelInput" type="number" ng-model="selected_card_params.level" ng-min="1" ng-max="transformed_max_level" />
          <div ng-messages="levelForm.levelInput.$error">
            <div ng-message="required">レベルを入力してください</div>
            <div ng-message="min">レベルが低すぎます</div>
            <div ng-message="max">レベルが高すぎます</div>
          </div>
        </md-input-container>
      </form>

      <form name="kizunaForm">
        <md-input-container>
          <label>絆pt</label>
          <input required name="kizunaInput" type="number" ng-model="selected_card_params.kizuna" ng-min="0" ng-max="transformed_max_kizuna" />
          <div ng-messages="kizunaForm.kizunaInput.$error">
            <div ng-message="required">絆ptを入力してください</div>
            <div ng-message="min">絆ptが低すぎます</div>
            <div ng-message="max">絆ptが高すぎます</div>
          </div>
        </md-input-container>
      </form>

      <div layout="row" layout-margin>
      <div>
        <label>スロット</label>
        <md-select ng-model="selected_card_params.slot" aria-label="slot_select">
          <md-option ng-value="i" ng-repeat="i in slot_range">{{i}}</md-option>
        </md-select>
      </div>

      <div ng-show="selected_card.rarity!='N'">
        <label>特技レベル</label>
        <md-select ng-model="selected_card_params.skill_level" aria-label="skill_level_select">
          <md-option ng-value="i" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8]">{{i}}</md-option>
        </md-select>
      </div>
    </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="cancel()" class="md-primary">キャンセル</md-button>
    <md-button ng-click="answer()" ng-disabled="levelForm.levelInput.$invalid || kizunaForm.kizunaInput.$invalid" class="md-primary">登録</md-button>
  </md-dialog-actions>
</md-dialog>
