<md-content layout-fill>
<div style="height:450px">
  <md-list>
    <md-list-item ng-repeat="member in $root.user_data.unit_members track by $index">
      <div style="position: relative;">
        <img ng-src="img/faces/{{member<0 ? 83 : $root.user_data.own_card_list[member].id}}{{$root.user_data.own_card_list[member].trans ? '_t' : ''}}.png" width="50dp"
        ng-click="$ctrl.showMemberSelection($event, $index)" style="margin: 0px 8px"/>
        <div style="text-align: center; position: absolute; left: 0; top: 0; color: red; font-weight: bold; font-size: x-small; text-shadow: 2px 2px 4px #FFF;">
         {{$root.user_data.own_card_list[member].slot}}スロ
        </div>
        <div style="text-align: center; position: absolute; right: 0; bottom: 0; color: red; font-weight: bold; font-size: x-small; text-shadow: -2px -2px 4px #FFF;">
          SLv. {{$root.user_data.own_card_list[member].skill_level}}
        </div>
      </div>
      <md-button class="md-accent md-raised" md-ripple-size="fill" ng-click="$ctrl.showCardModification($event, member)">
        <b>ステ修正</b>
      </md-button>
      <div ng-if="member>=0">
        <slot-view index="$index"></slot-view>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
</md-content>
