<html lang="en" ng-app="darsein-hp">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>スクフェス イベント効率計算</title>
  <meta name="keywords" content="ラブライブ, スクフェス, イベント, スコマ, マカロン, チャレフェス, なかよし, 石効率">
  <meta name="description" content="
  ラブライブ！スクールアイドルフェスティバルのイベントの効率を計算します。
  現在のランクや目標イベントptなどから消費石の個数や報酬を計算します。">
  <!-- Google Analytics -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-101239470-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js"></script>
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script src="points.js"></script>
  <script src="rank.js"></script>
  <script src="event_points.js"></script>
</head>

<body ng-cloak ng-controller='eventPointsController'>
  <md-content flex layout-padding>
    スクフェスのイベント効率を計算できます。Rankや目標イベントptなどを入力すると石の消費や報酬の見積もりが得られます。<br> ※現在とりあえずスコアマッチとマカロン (HARD, EX) のみ、Rank 500まで対応です<br><br>

    <md-toolbar class="md-accent" md-whiteframe="5" ng-click="event_input=!event_input">
      <div class="md-toolbar-tools">
        <md-icon ng-show="event_input" ng-style="{color: 'white'}" md-font-set="material-icons">expand_more</md-icon>
        <md-icon ng-show="!event_input" ng-style="{color: 'white'}" md-font-set="material-icons">expand_less</md-icon>
        <h3 flex> イベント情報入力 </h3>
      </div>
    </md-toolbar>
    <div ng-show='!event_input'>
      <!-- TODO: validation -->
      <md-card flex layout-margin>
        <md-card-header>
          <md-card-header-text>
            <span class='md-title'>期間</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <span>現在日時: {{ event.now | date: 'M月d日 HH:mm' }}</span><br>
          <span>イベント期間: {{ event.event_start | date: 'M月d日 HH:mm' }} - {{ event.event_end | date: 'M月d日 HH:mm' }}</span><br>
          <span>残り期間: {{ event.remain_day | number }} 日 {{ event.remain_hour | number }} 時間 {{ event.remain_min | number }} 分</span>
        </md-card-content>
      </md-card>


      <div class='md-padding' layout="row" layout-wrap>
        <md-card style="width: 200px;">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>イベント種別</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-radio-group ng-model="event.event_name">
              <md-radio-button value="score_match">スコアマッチ</md-radio-button>
              <md-radio-button value="macaron">マカロン</md-radio-button>
              <md-radio-button value="challenge_festival">チャレンジフェスティバル</md-radio-button>
              <md-radio-button value="nakayoshi_match">なかよしマッチ</md-radio-button>
            </md-radio-group>
          </md-card-actions>
        </md-card>

        <md-card style="width: 180px;">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>
            <span ng-if="event.event_name==='macaron'">周回曲</span>難易度
              </span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-radio-group ng-model="event.difficulty">
              <md-radio-button value="easy">EASY</md-radio-button>
              <md-radio-button value="normal">NORMAL</md-radio-button>
              <md-radio-button value="hard">HARD</md-radio-button>
              <md-radio-button value="expert" class="ng-primary">EXPERT</md-radio-button>
            </md-radio-group>
          </md-card-actions>
        </md-card>

        <md-card style="width: 180px;" ng-if="event.event_name==='macaron'">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>課題曲難易度</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-radio-group ng-model="event.task_difficulty">
              <md-radio-button value="easy" ng-if="event.event_name!=='macaron'">EASY</md-radio-button>
              <md-radio-button value="normal" ng-if="event.event_name!=='macaron'">NORMAL</md-radio-button>
              <md-radio-button value="hard">HARD</md-radio-button>
              <md-radio-button value="expert" class="ng-primary">EXPERT</md-radio-button>
            </md-radio-group>
          </md-card-actions>
        </md-card>

        <md-card style="width: 180px;" ng-if="event.event_name==='challenge_festival'">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>ラウンド数</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-radio-group ng-model="event.rounds">
              <md-radio-button value=1>1</md-radio-button>
              <md-radio-button value=2>2</md-radio-button>
              <md-radio-button value=3>3</md-radio-button>
              <md-radio-button value=4>4</md-radio-button>
              <md-radio-button value=5 class="ng-primary">5</md-radio-button>
            </md-radio-group>
          </md-card-actions>
        </md-card>

        <md-card style="width: 100px;">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>スコア</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-radio-group ng-model="event.score">
              <md-radio-button value=0 class="ng-primary">S</md-radio-button>
              <md-radio-button value=1>A</md-radio-button>
              <md-radio-button value=2>B</md-radio-button>
              <md-radio-button value=3>C</md-radio-button>
              <md-radio-button value=4 ng-if="event.event_name!=='macaron'">なし</md-radio-button>
            </md-radio-group>
          </md-card-actions>
        </md-card>

        <md-card style="width: 100px;" ng-if="event.event_name!=='score_match'">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>コンボ</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-radio-group ng-model="event.combo">
              <md-radio-button value=0 class="ng-primary">S</md-radio-button>
              <md-radio-button value=1>A</md-radio-button>
              <md-radio-button value=2>B</md-radio-button>
              <md-radio-button value=3>C</md-radio-button>
              <md-radio-button value=4>なし</md-radio-button>
            </md-radio-group>
          </md-card-actions>
        </md-card>

        <md-card style="width: 100px;" ng-if="event.event_name==='score_match'">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>順位</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-radio-group ng-model="event.ranking">
              <md-radio-button value=1 class="ng-primary">1</md-radio-button>
              <md-radio-button value=2>2</md-radio-button>
              <md-radio-button value=3>3</md-radio-button>
              <md-radio-button value=4>4</md-radio-button>
            </md-radio-group>
          </md-card-actions>
        </md-card>

        <md-card style="width: 100px;" ng-if="event.event_name==='challenge_festival'">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>イベントptアレンジ</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-radio-group ng-model="event.pt_arrange">
              <md-radio-button value=1 class="ng-primary">あり</md-radio-button>
              <md-radio-button value=0>なし</md-radio-button>
            </md-radio-group>
          </md-card-actions>
        </md-card>

        <md-card style="width: 100px;" ng-if="event.event_name==='challenge_festival'">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>EXPアレンジ</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-radio-group ng-model="event.exp_arrange">
              <md-radio-button value=1 class="ng-primary">あり</md-radio-button>
              <md-radio-button value=0>なし</md-radio-button>
            </md-radio-group>
          </md-card-actions>
        </md-card>

        <md-card style="width: 100px;" ng-if="event.event_name==='nakayoshi_match'">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>貢献度</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-radio-group ng-model="event.contribution">
              <md-radio-button value=1 class="ng-primary">1</md-radio-button>
              <md-radio-button value=2>2</md-radio-button>
              <md-radio-button value=3>3</md-radio-button>
              <md-radio-button value=4>4</md-radio-button>
            </md-radio-group>
          </md-card-actions>
        </md-card>

        <md-card style="width: 100px;" ng-if="event.event_name==='nakayoshi_match'">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>ミッション</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-radio-group ng-model="event.mission">
              <md-radio-button value=0 class="ng-primary">SSS</md-radio-button>
              <md-radio-button value=1>SS</md-radio-button>
              <md-radio-button value=2>S</md-radio-button>
              <md-radio-button value=3>A</md-radio-button>
              <md-radio-button value=4>B</md-radio-button>
              <md-radio-button value=5>C</md-radio-button>
              <md-radio-button value=6>なし</md-radio-button>
            </md-radio-group>
          </md-card-actions>
        </md-card>
      </div>

      <div class='md-padding' layout="row" layout-wrap>
        <md-card style="width: 200px;">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>ポイント</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-input-container ng-if="event.event_name==='macaron'">
              <label>所持マカロン数</label>
              <input type='number' ng-model='event.macaron'>
            </md-input-container>
            <md-input-container>
              <label>平均獲得ポイント</label>
              <input type='number' step=0.01 ng-model='event.average_points'>
            </md-input-container>
            <md-input-container>
              <label>現在の獲得ポイント</label>
              <input type='number' step=1 ng-model='event.current_points'>
            </md-input-container>
          </md-card-actions>
        </md-card>

        <md-card style="width: 200px;">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>ボーダー</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-input-container>
              <label>1万位ボーダー</label>
              <input type='number' step=1 ng-model='event.border[10000]'>
            </md-input-container>
            <md-input-container>
              <label>5万位ボーダー</label>
              <input type='number' step=1 ng-model='event.border[50000]'>
            </md-input-container>
            <md-input-container>
              <label>12万位ボーダー</label>
              <input type='number' step=1 ng-model='event.border[120000]'>
            </md-input-container>
          </md-card-actions>
        </md-card>

        <md-card style="width: 200px;">
          <md-card-header>
            <md-card-header-text>
              <span class='md-title'>プレイヤー情報</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-actions>
            <md-input-container>
              <label>現在のRank</label>
              <input type='number' step=1 ng-model='event.current_rank'>
            </md-input-container>
            <md-input-container>
              <label>現在のExp</label>
              <input type='number' step=1 ng-model='event.current_exp'>
            </md-input-container>
            <md-input-container>
              <label>現在のLP</label>
              <input type='number' step=1 ng-model='event.current_LP'>
            </md-input-container>
            <md-input-container>
              <label>これまでに使った石の数</label>
              <input type='number' step=1 ng-model='event.used_stone'>
            </md-input-container>
          </md-card-actions>
        </md-card>

      </div>
    </div>

    <md-toolbar class="md-accent" md-whiteframe="5" ng-click="target_input=!target_input">
      <div class="md-toolbar-tools">
        <md-icon ng-show="target_input" ng-style="{color: 'white'}" md-font-set="material-icons">expand_more</md-icon>
        <md-icon ng-show="!target_input" ng-style="{color: 'white'}" md-font-set="material-icons">expand_less</md-icon>
        <h3 flex> 目標入力 </h3>
      </div>
    </md-toolbar>
    <div ng-show='!target_input'>
      <md-card flex layout-margin>
        <md-card-actions>
          <md-radio-group ng-model="event.target">
            <div layout="row" flex>
              <md-radio-button value="points" class="ng-primary" aria-label="target_points"></md-radio-button>
              <md-input-container>
                <label>目標ポイント</label>
                <input type='number' step=1 ng-model='event.target_points' ng-disabled='event.target!=="points"'>
              </md-input-container>
            </div>
            <div layout="row" flex>
              <md-radio-button value="stone" aria-label="target_stone"></md-radio-button>
              <md-input-container>
                <label>使用石個数</label>
                <input type='number' step=1 ng-model='event.target_stone' ng-disabled='event.target!=="stone"'>
              </md-input-container>
            </div>
            <div layout="row" flex>
              <md-radio-button value="rank" aria-label="target_rank"></md-radio-button>
              <md-input-container>
                <label>最終Rank</label>
                <input type='number' step=1 ng-model='event.target_rank' ng-disabled='event.target!=="rank"'>
              </md-input-container>
            </div>
          </md-radio-group>
        </md-card-actions>
      </md-card>
    </div>

    <md-toolbar class="md-accent" md-whiteframe="5" ng-click="reward_output=!reward_output">
      <div class="md-toolbar-tools">
        <md-icon ng-show="reward_output" ng-style="{color: 'white'}" md-font-set="material-icons">expand_more</md-icon>
        <md-icon ng-show="!reward_output" ng-style="{color: 'white'}" md-font-set="material-icons">expand_less</md-icon>
        <h3 flex> イベント収支 </h3>
      </div>
    </md-toolbar>
    <div ng-show='!reward_output'>
      <md-card flex layout-margin>
        <md-card-content>
          <span>最終ポイント: {{ event.final_points | number }}</span><br>
          <span>使用予定の石個数: {{ event.required_stone | number }}</span><br>
          <span>石収支: {{ event.stone_diff | number }}</span>
        </md-card-content>
      </md-card>

      <md-card flex layout-margin>
        <md-card-header>
          <md-card-header-text>
            <span class='md-title'>獲得報酬</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <span ng-repeat="(reward_category, reward_number) in event.rewards">
          {{ reward_category }}: {{ reward_number }}<br>
        </span>
        </md-card-content>
      </md-card>
    </div>

    <md-toolbar class="md-accent" md-whiteframe="5" ng-click="detail_output=!detail_output">
      <div class="md-toolbar-tools">
        <md-icon ng-show="detail_output" ng-style="{color: 'white'}" md-font-set="material-icons">expand_more</md-icon>
        <md-icon ng-show="!detail_output" ng-style="{color: 'white'}" md-font-set="material-icons">expand_less</md-icon>
        <h3 flex> イベント結果詳細 </h3>
      </div>
    </md-toolbar>
    <div ng-show='!detail_output'>
      <md-card flex layout-margin>
        <md-card-header>
          <md-card-header-text>
            <span class='md-title'>プレイヤー情報</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <span>最終Rank: {{ event.final_rank | number }}</span><br>
          <span>最終EXP: {{ event.final_exp | number }}</span><br>
          <span>最終LP: {{ event.final_LP | number }}</span>
        </md-card-content>
      </md-card>

      <md-card flex layout-margin>
        <md-card-header>
          <md-card-header-text>
            <span class='md-title'>イベント情報</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <span><span ng-if="event.event_name==='macaron'">周回曲</span>プレイ回数: {{ event.final_play_num | number }}</span><br>
          <span ng-if="event.event_name==='macaron'">課題曲プレイ回数: {{ event.final_task_play_num | number }}</span><br>
          <span>予想プレイ時間 (1回3分と仮定): {{ event.required_day | number }} 日 {{ event.required_hour | number }} 時間 {{ event.required_min | number }} 分</span><br>
          <span ng-if="event.event_name==='macaron'">残りマカロン数: {{ event.final_macaron | number }}</span>
        </md-card-content>
      </md-card>
    </div>

    <h2> 更新履歴 </h2>
    <md-list>
      <md-list-item>
        2017/07/21: 平均獲得ポイントが0になると動かなくなるバグを修正。UIを微調整
      </md-list-item>
      <md-list-item>
        2017/07/20: なかよしマッチに対応
      </md-list-item>
      <md-list-item>
        2017/07/17: 目標として使用石の個数・Rankを設定可能に。UIを変更
      </md-list-item>
      <md-list-item>
        2017/07/13: これまでに使った石の個数を入力し、全体の石収支を計算
      </md-list-item>
      <md-list-item>
        2017/07/12: ボーダー予想を入力することでポイントランキングの報酬も追加表示
      </md-list-item>
      <md-list-item>
        2017/07/09: cookie に前回入力データを保存 (3ヶ月)
      </md-list-item>
      <md-list-item>
        2017/07/08: 獲得報酬一覧を表示
      </md-list-item>
      <md-list-item>
        2017/07/05: マカロンに対応、自然回復LPが反映されていないバグを修正
      </md-list-item>
      <md-list-item>
        2017/07/04: スコア・コンボ・順位などの入力から平均ポイントを自動算出
      </md-list-item>
      <md-list-item>
        2017/06/30: 難易度 EASY, NORMAL, HARD の入力に対応, 細かなバグの修正等
      </md-list-item>
      <md-list-item>
        2017/06/26: スコマのみ、EXのみ、Rank 500までの状態で公開
      </md-list-item>
    </md-list>
    <md-divider></md-divider>

    <h2> アップデート予定 (個人的優先度順) </h2> 下記以外にも要望があれば <a href="https://twitter.com/Darsein_LL">@Darsein_LL</a> まで。
    <ul layout-margin>
      <li> 現在時刻や終了時刻の手動入力 </li>
      <li> スコマ・マカロン以外のイベントに対応 </li>
      <li> ランクアップのタイミング </li>
      <li> 平均獲得ポイント以外の小数入力禁止 </li>
      <li> Rank 500以上をEXP近似式で対応 </li>
      <li> UIのブラッシュアップ </li>
      <li> イベント期間外の利用時に対応 (警告を出す、現在時刻を次のイベント開始時刻にしてLP補完等) </li>
      <li> 開催中のイベントをデフォルト値に設定 </li>
      <li> 獲得アイテムを石の価値に換算した際の石効率最適化 </li>
      <li> 入力されたユニットをからスコマ平均順位を予想し自動補完 </li>
    </ul>
  </md-content>
</body>

</html>
