<html lang="en" ng-app="darsein-hp">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>スクフェス イベント効率計算</title>
  <meta name="keywords" content="ラブライブ, スクフェス イベント, スコマ, マカロン, 石効率">
  <meta name="description" content="
  ラブライブ！スクールアイドルフェスティバルのイベントの効率を計算します。
  現在のランクや目標イベントptなどから消費石の個数や報酬を計算します。">
  <!-- Google Analytics -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-101239470-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js"></script>
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script src="points.js"></script>
  <script src="rank.js"></script>
  <script src="event_points.js"></script>
</head>

<body ng-cloak ng-controller='eventPointsController'>
  <md-content flex>
    <p>スクフェスのイベント効率を計算できます。Rankや目標イベントptなどを入力すると石の消費や報酬の見積もりが得られます。</p>
    <p>※現在とりあえずスコアマッチとマカロン (HARD, EX) のみ、Rank 500まで対応です</p>
    <h2> 入力項目 </h2>
    <div layout="row" flex>
      <md-radio-group ng-model="event.event_name">
        <md-radio-button value="score_match">スコアマッチ</md-radio-button>
        <md-radio-button value="macaron">マカロン</md-radio-button>
      </md-radio-group>
    </div>
    <div layout="row" layout-margin flex>
      <div>
        <p><span ng-if="event.event_name==='macaron'">周回曲</span>難易度</p>
        <md-radio-group ng-model="event.difficulty">
          <md-radio-button value="easy">EASY</md-radio-button>
          <md-radio-button value="normal">NORMAL</md-radio-button>
          <md-radio-button value="hard">HARD</md-radio-button>
          <md-radio-button value="expert" class="ng-primary">EXPERT</md-radio-button>
        </md-radio-group>
      </div>
      <div ng-if="event.event_name==='macaron'">
        <p>課題曲難易度</p>
        <md-radio-group ng-model="event.task_difficulty">
          <md-radio-button value="easy" ng-if="event.event_name!=='macaron'">EASY</md-radio-button>
          <md-radio-button value="normal" ng-if="event.event_name!=='macaron'">NORMAL</md-radio-button>
          <md-radio-button value="hard">HARD</md-radio-button>
          <md-radio-button value="expert" class="ng-primary">EXPERT</md-radio-button>
        </md-radio-group>
      </div>
      <div>
        <p>スコア</p>
        <md-radio-group ng-model="event.score">
          <md-radio-button value=0 class="ng-primary">S</md-radio-button>
          <md-radio-button value=1>A</md-radio-button>
          <md-radio-button value=2>B</md-radio-button>
          <md-radio-button value=3>C</md-radio-button>
          <md-radio-button value=4 ng-if="event.event_name!=='macaron'">なし</md-radio-button>
        </md-radio-group>
      </div>
      <div ng-if="event.event_name!=='score_match'">
        <p>コンボ</p>
        <md-radio-group ng-model="event.combo">
          <md-radio-button value=0 class="ng-primary">S</md-radio-button>
          <md-radio-button value=1>A</md-radio-button>
          <md-radio-button value=2>B</md-radio-button>
          <md-radio-button value=3>C</md-radio-button>
          <md-radio-button value=4>なし</md-radio-button>
        </md-radio-group>
      </div>
      <div ng-if="event.event_name==='score_match'">
        <p>順位</p>
        <md-radio-group ng-model="event.ranking">
          <md-radio-button value=1 class="ng-primary">1</md-radio-button>
          <md-radio-button value=2>2</md-radio-button>
          <md-radio-button value=3>3</md-radio-button>
          <md-radio-button value=4>4</md-radio-button>
        </md-radio-group>
      </div>
    </div>
    <!-- TODO: validation -->
    <div layout="row" flex layout-margin>
      <span>現在のRank: <input type='number' step=1 ng-model='event.current_rank'></span>
      <span>現在のExp: <input type='number' step=1 ng-model='event.current_exp'></span>
      <span>現在のLP: <input type='number' step=1 ng-model='event.current_LP'></span>
    </div>
    <div layout="row" flex layout-margin>
      <span>平均獲得ポイント: <input type='number' step=0.01 ng-model='event.average_points'></span>
      <span>現在の獲得ポイント: <input type='number' step=1 ng-model='event.current_points'></span>
      <span>目標ポイント: <input type='number' step=1 ng-model='event.target_points'></span>
    </div>
    <div layout="row" flex layout-margin>
      <span>1万位ボーダー: <input type='number' step=1 ng-model='event.border[10000]'></span>
      <span>5万位ボーダー: <input type='number' step=1 ng-model='event.border[50000]'></span>
      <span>12万位ボーダー: <input type='number' step=1 ng-model='event.border[120000]'></span>
    </div>
    <div layout="row" flex layout-margin>
      <span>使った石の数: <input type='number' step=1 ng-model='event.used_stone'></span>
      <span ng-if="event.event_name==='macaron'">所持マカロン数: <input type='number' ng-model='event.macaron'></span>
    </div>
    <md-divider></md-divider>

    <h2> 計算結果 </h2>
    <md-list>
      <md-list-item>
        現在日時: {{ event.now | date: 'M月d日 HH:mm' }}
      </md-list-item>
      <md-list-item>
        イベント期間: {{ event.event_start | date: 'M月d日 HH:mm' }} - {{ event.event_end | date: 'M月d日 HH:mm' }}
      </md-list-item>
      <md-list-item>
        残り期間: {{ event.remain_day | number }} 日 {{ event.remain_hour | number }} 時間 {{ event.remain_min | number }} 分
      </md-list-item>

      <md-list-item>
        最終ポイント: {{ event.final_points | number }}
      </md-list-item>
      <md-list-item>
        使用石個数: {{ event.required_stone | number }}
      </md-list-item>
      <md-list-item>
        最終Rank: {{ event.final_rank | number }}
      </md-list-item>
      <md-list-item>
        最終EXP: {{ event.final_exp | number }}
      </md-list-item>
      <md-list-item>
        最終LP: {{ event.final_LP | number }}
      </md-list-item>
      <md-list-item>
        <span ng-if="event.event_name==='macaron'">周回曲</span>プレイ回数: {{ event.final_play_num | number }}
      </md-list-item>
      <md-list-item ng-if="event.event_name==='macaron'">
        課題曲プレイ回数: {{ event.final_task_play_num | number }}
      </md-list-item>
      <md-list-item>
        予想プレイ時間 (1回3分と仮定): {{ event.required_day | number }} 日 {{ event.required_hour | number }} 時間 {{ event.required_min | number }} 分
      </md-list-item>
      <md-list-item ng-if="event.event_name==='macaron'">
        残りマカロン数: {{ event.final_macaron | number }}
      </md-list-item>
      <md-list-item>
        獲得報酬:
        <md-list>
          <md-list-item ng-repeat="(reward_category, reward_number) in event.rewards">
            {{ reward_category }}: {{ reward_number }}
          </md-list-item>
        </md-list>
      </md-list-item>
      <md-list-item>
        石収支: {{ event.stone_diff | number }}
      </md-list-item>
    </md-list>
    <md-divider></md-divider>

    <h2> 更新履歴 </h2>
    <md-list>
      <md-list-item>
        2017/07/13: これまでに使った石の個数を入力し、全体の石収支を計算
      </md-list-item>
      <md-list-item>
        2017/07/12: ボーダー予想を入力することでポイントランキングの報酬も追加表示
      </md-list-item>
      <md-list-item>
        2017/07/09: cookie に前回入力データを保存 (3ヶ月)
      </md-list-item>
      <md-list-item>
        2017/07/08: 獲得報酬一覧を表示
      </md-list-item>
      <md-list-item>
        2017/07/05: マカロンに対応、自然回復LPが反映されていないバグを修正
      </md-list-item>
      <md-list-item>
        2017/07/04: スコア・コンボ・順位などの入力から平均ポイントを自動算出
      </md-list-item>
      <md-list-item>
        2017/06/30: 難易度 EASY, NORMAL, HARD の入力に対応, 細かなバグの修正等
      </md-list-item>
      <md-list-item>
        2017/06/26: スコマのみ、EXのみ、Rank 500までの状態で公開
      </md-list-item>
    </md-list>
    <md-divider></md-divider>

    <h2> アップデート予定 (個人的優先度順) </h2> 下記以外にも要望があれば <a href="https://twitter.com/Darsein_LL">@Darsein_LL</a> まで。
    <ul>
      <li> 石の個数・最終Rankも入力項目にして、変更された場合それに合わせて他の項目を自動計算 </li>
      <li> UIのブラッシュアップ </li>
      <li> 現在時刻や終了時刻の手動入力 </li>
      <li> ランクアップのタイミング </li>
      <li> 平均獲得ポイント以外の小数入力禁止 </li>
      <li> スコマ・マカロン以外のイベントに対応 </li>
      <li> Rank 500以上をEXP近似式で対応 </li>
      <li> イベント期間外の利用時に対応 (警告を出す、現在時刻を次のイベント開始時刻にしてLP補完等) </li>
      <li> 開催中のイベントをデフォルト値に設定 </li>
      <li> 獲得アイテムを石の価値に換算した際の石効率最適化 </li>
      <li> 入力されたユニットをからスコマ平均順位を予想し自動補完 </li>
    </ul>
  </md-content>
</body>

</html>
