<md-content layout-fill>
  <div layout="row" layout-align="center center" style="position:fixed;width: 100%;z-index:1;background:white">
    <div flex="33">
      <md-select layout-align="center center" ng-model="$root.user_data.orderKey" aria-label="select_ordering_key">
        <md-option value="id">ID順</md-option>
        <md-option value="chara_name">名前順</md-option>
        <md-option value="rarity">レア順</md-option>
      </md-select>
    </div>
    <div flex="33">
      <md-switch layout-align="center center" ng-model="$root.user_data.orderDirection" ng-true-value="'+'" ng-false-value="'-'" aria-label="order_switch">
        <span ng-if="$root.user_data.orderDirection == '+'">昇順</span>
        <span ng-if="$root.user_data.orderDirection == '-'">降順</span>
      </md-switch>
    </div>

    <div flex="33">
      <md-menubar>
        <md-menu layout-align="center center">
          <md-button class="md-accent md-raised" md-ripple-size="fill" ng-click="$mdOpenMenu()">
            <b>フィルタ</b>
          </md-button>
          <md-menu-content layout-align="center center" layout="column">
            <b>属性</b>
            <div layout-padding layout="row">
              <div ng-repeat="type in $root.card_data.types" flex="33" ng-click="$root.setTypeCondition($event, type)" md-prevent-menu-close="md-prevent-menu-close">
                <img ng-if="$root.hasTypeCondition(type)" ng-src="img/filters/type_{{type}}_gray.png" width="50dp"/>
                <img ng-if="!$root.hasTypeCondition(type)" ng-src="img/filters/type_{{type}}.png" width="50dp"/>
              </div>
            </div>
            <md-divider></md-divider>
            <b>レアリティ</b>
            <div layout="row">
              <div ng-repeat="rarity in $root.card_data.rarities" flex="20" ng-click="$root.setRarityCondition($event, rarity)" md-prevent-menu-close="md-prevent-menu-close">
                <img ng-if="$root.hasRarityCondition(rarity)" ng-src="img/filters/rarity_{{rarity}}_gray.png" width="50dp" />
                <img ng-if="!$root.hasRarityCondition(rarity)" ng-src="img/filters/rarity_{{rarity}}.png" width="50dp" />
              </div>
            </div>
          </md-menu-content>
        </md-menu>
      </md-menubar>
    </div>
  </div>
  <md-divider></md-divider>

  <!-- TODO: responsive height -->
  <div style="padding: 80px 0 0 0">
    <md-grid-list md-cols-xs="6" md-cols-sm="10" md-cols-md="14" md-cols-lg="18" md-cols-xl="24" md-row-height="1:1">
      <md-grid-tile ng-repeat="card in $root.card_data.brief_card_list | filter:$root.card_filter | orderBy:($root.user_data.orderDirection+$root.user_data.orderKey)" ng-click="$ctrl.showCardRegistration($event, card)">
        <img ng-src="img/faces/{{card.id}}.png" width="100%" />
      </md-grid-tile>
    </md-grid-list>
  </div>
</md-content>
