<md-content layout-fill>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <div class="md-title">ラブライブ！メンバープレイス</div>
    </div>
  </md-toolbar>

  <md-input-container>
    <md-select ng-model="$ctrl.selected_puzzle" placeholder="メンバープレイスを選ぶ">
      <md-option ng-value="puzzle" ng-repeat="puzzle in $ctrl.board_data.puzzles">
        {{puzzle.label}}
      </md-option>
    </md-select>
  </md-input-container>

  <div class="{{$ctrl.getCurrentGroup()}}">
    <table cellspacing="0">
      <tr ng-repeat="row in [0, 1, 2, 3, 4, 5, 6, 7, 8]">
        <td ng-repeat="column in [0, 1, 2, 3, 4, 5, 6, 7, 8]"
          ng-click="$ctrl.incrementCell(row, column)">
          <div ng-if="$ctrl.getCellValue(row, column) > 0">
            <img src="img/{{$ctrl.getCurrentGroup()}}{{$ctrl.getCellValue(row, column)}}.jpg">
          </div>
        </td>
      </tr>
    </table>
  </div>

  <md-button class="md-accent md-raised" md-ripple-size="fill" ng-click="$ctrl.resetState()">
    <b>リセット</b>
  <md-button>
</md-content>
